/*ul 
{
width: 100%;
text-align: center ;
}*/

body 
{
	background-color: #787878 ;
	margin: 0 ;
	font-family: Arial ;
	font-size: 20px ;
	float: center ;
}

.main
{
    width:90% ;
    max-width:1000px ;
    margin: 5px auto ;
}

.slides 
{
    width: 100% ;    
    position: relative ;
    top: 100px ;
    left: 5px ;
}

.slides img
{
    width: 100% ;
}

.slidesjs-pagination
{
    background: #424242 ;
    list-style: none ;
    overflow: hidden ;
}

.slidesjs-pagination li
{
    float: left ;
}

.slidesjs-pagination li a
{
    display: block ;
    padding: 10px 20px ;
    color: #fff ;
    text-decoration: none ;
}

.slidesjs-pagination li a:hover
{
    background: #000 ;
}

.slides .active
{
    background: #000 ;
}

.slidesjs-navigation
{
   background: #000 ;
    color: #fff ;
    text-decoration: none ;
    display: inline-block ;
    padding: 10px 20px ;
    float: right ;
    
}

header
{
	background-color: #E5E5E5 ;
	position: absolute ;
	width: 100% ;
}

#logo
{
	float: right ;
	width: 130px ;
}

.horizontal
{
	list-style: none ;
	padding: 0;
	background-color: #E5E5E5 ;
}

.horizontal li
{
	display: block ;
	float: left ;
	padding: 1px ;
}

.horizontal li a
{	
	text-decoration: none ;
	float: left ;
	padding: 20px ;
	background-color: #E5E5E5 ;
	color: #fff
}

.horizontal li a:hover
{
	background-color: #800000 ;
	margin-top: -2px ;
	padding-bottom: 12px ;
}

.tabla
{
 position: relative ;
 top: 120px ;
 left: 225px ;
}

.copyright
{
    position: relative ;
    top: 130px ;
    left: 500px ;
}